.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 32px;
  height: 32px;
}

.buttons-coll {
  width: 90%;
  margin: 50px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  padding: 10px 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-11 {
  background: #f2f2f2;
  border: 2px solid #000;
  transition: all 0.3s ease;
}
.btn-11:before,
.btn-11:after {
  position: absolute;
  content: " ";
  z-index: -1;
  width: 25%;
  top: 50%;
  height: 2px;
  background: #000;
  transition: all 0.3s ease;
}
.btn-11:before {
  left: -10%;
}
.btn-11:after {
  right: -10%;
}
.btn-11:hover {
  background: #000;
  color: #fff;
}
.btn-11:hover:before {
  left: 0%;
}
.btn-11:hover:after {
  right: 0%;
}